vendor/
var/
.env
.env.local
.env.*.local
.env.dev
composer.lock
symfony.lock
.phpunit.cache/

# Archives / compressed
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
